.div-world-times {
  display: grid;
  color: whtite;
  grid-template-columns: repeat(7, 1fr);
  /* Create 5 equal-width columns */
  grid-gap: 10px;
  /* Adjust the gap between items as needed */
}

div {
  color: whtite;
}

.h2-world-header {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}