/* index.scss */
.container {
  background-color: #0037b2;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.scrollable-content {
  max-height: 10000px;
  flex: 1;
  overflow-y: auto;
}

.time-content {
  flex: 1;
  margin-left: 20px;
  /* Add spacing from the scrollable-content */
  /* Add any other styles for the time-content here */
}

/* Add styles for the time-container and table as needed */
/* Adjust the race times container */
.race-times-container {
  flex: 1;
  margin-left: 20px;
  /* Add spacing from the content container */
  padding-left: 0;
  /* Remove the excessive padding */
  margin-bottom: 0;
  /* Remove excessive margin */
}

/* Style the first cell in each row */
tr td:first-child {
  background-color: #d9f3fd;
}

/* Style the accordion header */
.ui-accordion .ui-accordion__header  {
  color: #0037b2;
  font-size: 20px;
  padding: 16px 8px;
  border: 1px solid #efefef;
  border-bottom-width: 3px;
  font-weight: 600;
  background-color: #ffffff;
}

/* Style the table container with horizontal scrolling */
.table-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  overflow-x: auto;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table header */
thead {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Style the table rows */
tr {
  background-color: #fff;
}

/* Style table cells */
td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Style table header cells */
table tr th {
  font-family: 'Open Sans', sans-serif;
  padding: 16px 8px;
  color: #fff;
  background-color: #0037b2;
  font-size: 15px;
  font-weight: 400;
}

th.horse {
  font-family: 'Open Sans', sans-serif;
  padding: 18px 8px; /* Adjust the padding as needed */
  color: #fff;
  background-color: #0037b2;
  font-size: 15px;
  font-weight: 400;
}
body {
  overflow-y: auto;
  color: #333;
}

header {
  color: #0037b2;
  font-size: 20px;
  padding: 16px 8px;
  border: 1px solid #efefef;
  border-bottom-width: 3px;
  font-weight: 600;
  background-color: #ffffff;
}

td.horse {
    font: 300 14px/1.4 "Helvetica Neue", sans-serif;
    padding: 20px;
    border: 1px solid #ddd;
}