.scrollable-content {
  margin-left: 20px;
  margin-right: 20px;
  max-height: 1000px;
  /* Adjust the max-height as needed */
  overflow-y: auto;
}

/* Add styles to position the race times container to the right */
.race-times-container {
  flex: 1;
  /* Allow the container to grow and take available space */
  padding-left: 2008px;
  margin-bottom: 10000px;
  /* Add some spacing from the content container */
}

tr td.racecourse:first-child {
  background-color: #d9f3fd;
}

.ui-accordion .ui-accordion__header {
  color: #0037b2;
  font-size: 20px;
  padding: 16px 8px;
  border: 1px solid #efefef;
  border-bottom-width: 3px;
  font-weight: 600;
  background-color: #ffffff;
}

.table-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  overflow-x: auto;
  /* Enable horizontal scrolling if needed */
}

body {
  color:#333;
}
/* Styling for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Styling for table header (<thead>) */
thead {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Styling for table rows (<tr>) */
tr {
  background-color: #fff;
}


/* Optional: Additional styling for table cells (<td>) if needed */
td {
  
  padding: 10px;
  border: 1px solid #ddd;
}
table tr th {
  font-family: 'Open Sans', sans-serif;
  padding: 8px;
  color: #fff;
  background-color: #0037b2;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}
